:root {
    --slate-blue: #764AC4;
    --midnight-blue: #141F38;
    --dark-slate-gray: #455A4B;
    --tan: #CE848C;
    --gray: #858C7A;
    --white: #FFFFFF;
    --font-primary: 'Acme', sans-serif;
    --font-secondary: 'Indie Flower', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: var(--midnight-blue)!important;
    text-decoration-color: var(--white)!important;
    font-family: var(--font-primary);
}

.nav-link {
    text-decoration-color: var(--white)!important;
    font-family: var(--font-primary);
}

.hotline {
    text-align: center!important;
}

body {
    background-color: var(--gray);
    background-image: url('https://images.unsplash.com/photo-1529346414006-cf73aa3243d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.header-container {
    background-color: var(--slate-blue);
}

h1 {
    font-family: var(--font-primary);
}

h3 {
    font-family: var(--font-primary);
}

/* Landing Page */

.mission-statement {
    background-color: var(--slate-blue);
    font-family: var(--font-secondary);
    width: 900px;
    height: 300px;
    padding:23px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}

.card {
    margin: 30px;
    font-family: var(--font-secondary);
}

.quote-container {
    background-color: var(--slate-blue);
}

.quote-container1 {
    background-color: var(--tan);
    width: 300px;
    height: 200px;
    padding: 30px;
    position: absolute;
    left: 15%;
    top: 70%;
    transform: translate(-50%,-50%);
    box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}

.quote-container2 {
    background-color: var(--tan);
    width: 300px;
    height: 200px;
    padding: 30px;
    position: absolute;
    left: 47%;
    top: 70%;
    transform: translate(-50%,-50%);
    box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}

.quote-container3 {
    background-color: var(--tan);
    width: 300px;
    height: 200px;
    padding: 30px;
    position: absolute;
    left: 79%;
    top: 70%;
    transform: translate(-50%,-50%);
    box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}

/* Article Main */

.article-card {
    background-color: var(--tan);
    width: 400px;
    height: 100px;
    padding: 30px;
    position: relative;
    left: 43%;
    padding-top: 40px;
    padding-left: 55px;
    transform: translate(-50%,-50%);
    box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}

.article-header {
    position: absolute;
    left: 42%;
    margin-bottom: 30px;
}

.article-spacer {
    height: 120px;
    width: 100%;
}

/* Article View */

.article-title {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.article-body {
    padding-bottom: 20px;
}

.article-buttons {
    position: relative;
    left: 44%;
}

/* Article Create */

.article-create-form {
    padding-left: 60px;
    line-height: 1.6em;
}

/* Blog Main */

.blog-card {
    background-color: var(--tan);
    width: 400px;
    height: 100px;
    padding: 30px;
    position: relative;
    left: 43%;
    padding-top: 40px;
    padding-left: 55px;
    transform: translate(-50%,-50%);
    box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}

.blog-header {
    position: absolute;
    left: 42%;
    margin-bottom: 30px;
}

.blog-spacer {
    height: 120px;
    width: 100%;
}

/* Blog View */

.blog-title {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.blog-body {
    padding-bottom: 20px;
}

.blog-buttons {
    position: relative;
    left: 44%;
}

/* Blog Create */

.blog-create-form {
    padding-left: 60px;
    line-height: 1.6em;
}

/* Parent-Teacher Resources */

.parent-card {
    background-color: var(--tan);
    width: 400px;
    height: 100px;
    padding: 30px;
    position: relative;
    left: 43%;
    padding-top: 40px;
    padding-left: 55px;
    transform: translate(-50%,-50%);
    box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}

.parent-header {
    position: absolute;
    left: 33%;
    margin-bottom: 30px;
}

.parent-spacer {
    height: 120px;
    width: 100%;
}

/* Profile View */

.profile-header {
    position: absolute;
    left: 42%;
    margin-bottom: 30px;
}

.profile-section {
    position: relative;
    padding-top: 140px;
    padding-left: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 60%;
}

/* .profile-articles-container {
    background-color: var(--tan)!important;
    position: relative;
    width: 20%;
    height: 70%;
    float: right;
    padding: 5px;
    margin: 5px;
} */

.profile-blogs-container {
    background-color: var(--tan)!important;
    position: relative;
    width: 70%;
    height: 100%;
    padding: 20px;
    margin: 5px;
}

/* .box {
    position: relative;
    float: right;
    width: 50%; 
    padding: 25px; 
  } */

  .create-article-btn {
    position: relative;
    float: right;
  }

  .create-blog-btn {
    position: relative;
    float: right;
  }