:root {
    --light-aqua: #B2DBD2;
    --dark-aqua: #2B616D;
    --white: #FFFFFF;
    --brick: #FA8D62;
    --blue: #048FB4;
    --dark-cyan: #04B4A0;
    --teal: #056067;
    --crimson: #D61A2A;
    --pale-violet: #CF74AF;
    --text-primary: #2B616D;
    --text-secondary: #FA8D62;
    --font-primary: 'Acme', sans-serif;
    --font-secondary: 'Indie Flower', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: var(--teal)!important;
    text-decoration-color: var(--white)!important;
    font-family: var(--font-primary);
}

.nav-link {
    text-decoration-color: var(--white)!important;
    font-family: var(--font-primary);
}

.hotline {
    text-align: center!important;
}

body {
    background-color: var(--light-aqua);
    padding-top: 100px;
}

h1 {
    font-family: var(--font-primary);
}

h3 {
    font-family: var(--font-primary);
    /* background-color: var(--crimson); */
}

/* Landing Page */
.main-image {
    width:470px;
    height: 300px;
    padding: 23px;
    position: absolute;
    left: 26%;
    top: 37%;
    transform: translate(-50%,-50%);
    /* box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24); */
}

.mission-statement {
    background-color: var(--pale-violet);
    font-family: var(--font-secondary);
    width: 600px;
    height: 300px;
    padding:23px;
    position: absolute;
    left: 68%;
    top: 40%;
    transform: translate(-50%,-50%);
    box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}

.card {
    margin: 30px;
    font-family: var(--font-secondary);
}

.profile-articles-container {
    background-color: var(--brick)!important;
}

.profile-blogs-container {
    background-color: var(--brick)!important;
}

.quote-container1 {
    background-color: var(--pale-violet);
    width: 300px;
    height: 200px;
    padding: 30px;
    position: absolute;
    left: 15%;
    top: 70%;
    transform: translate(-50%,-50%);
    box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}

.quote-container2 {
    background-color: var(--pale-violet);
    width: 300px;
    height: 200px;
    padding: 30px;
    position: absolute;
    left: 47%;
    top: 70%;
    transform: translate(-50%,-50%);
    box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}

.quote-container3 {
    background-color: var(--pale-violet);
    width: 300px;
    height: 200px;
    padding: 30px;
    position: absolute;
    left: 79%;
    top: 70%;
    transform: translate(-50%,-50%);
    box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}

/* Article Main */

.article-card {
    background-color: var(--white);
    width: 400px;
    height: 100px;
    padding: 30px;
    position: relative;
    left: 43%;
    padding-top: 40px;
    padding-left: 55px;
    transform: translate(-50%,-50%);
    box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}

.article-header {
    position: absolute;
    left: 42%;
    margin-bottom: 30px;
}

.article-spacer {
    height: 120px;
    width: 100%;
}