{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="container row grid">
        <h1 class="article-header">Article Main Page</h1>
        <div class="article-spacer"></div>
        <div class="card article-card row grid col-md-4">
            <a href="https://www.thetrevorproject.org/resources/preventing-suicide/">Preventing Suicide</a>
        </div>
        <div class="card article-card row grid col-md-4">
            <a href="https://www.thetrevorproject.org/resources/trevor-support-center/">The Trevor Project Resource Center</a>
        </div>
        <div class="card article-card row grid col-md-4">
            <a href="https://www.thetrevorproject.org/trvr_support_center/glossary/">Glossary</a>
        </div>
        <div class="card article-card row grid col-md-4">
            <a href="https://www.thetrevorproject.org/trvr_support_center/coming-out/">Coming Out</a>
        </div>
        <div class="card article-card row grid col-md-4">
            <a href="https://www.thetrevorproject.org/trvr_support_center/gay-lesbian/">Lesbian and Gay</a>
        </div>
        <div class="card article-card row grid col-md-4">
            <a href="https://www.thetrevorproject.org/trvr_support_center/bisexual/">Bisexual</a>
        </div>
        <div class="card article-card row grid col-md-4">
            <a href="https://www.thetrevorproject.org/trvr_support_center/trans-gender-identity/">Trans and Gender Identity</a>
        </div>
        <div class="card article-card row grid col-md-4">
            <a href="https://www.thetrevorproject.org/trvr_support_center/asexual/">Asexual</a>
        </div>
        <div class="card article-card row grid col-md-4">
            <a href="https://www.thetrevorproject.org/trvr_support_center/coming-out/">Coming Out</a>
        </div>
        <div class="card article-card row grid col-md-4">
            <a href="https://www.cdc.gov/lgbthealth/youth-resources.htm">CDC LGBTQ Youth Resources</a>
        </div>
        <div class="card article-card row grid col-md-4">
            <a href="https://www.glaad.org/resourcelist">GLAAD Resource List</a>
        </div>
        <div class="card article-card row grid col-md-4">
            <a href="https://pointfoundation.org/">Point Foundation</a>
        </div>
        <div class="card article-card row grid col-md-4">
            <a href="https://www.glsen.org/">GLSEN Educator Support</a>
        </div>
        <div class="card article-card row grid col-md-4">
            <a href="http://safeschoolscoalition.org/">Safe Schools Coalition</a>
        </div>
        <div class="card article-card row grid col-md-4">
            <a href="https://www.thetrevorproject.org/">The Trevor Project</a>
        </div>
        <div class="card article-card row grid col-md-4">
            <a href="https://itgetsbetter.org/">It Gets Better Project</a>
        </div>
    </section>

    {% for article in articles %}
        <section class="container row grid">
            <div class="card article-card row grid col-md-4">
                <a href="{% url 'article-view' article_pk=article.pk %}">{{article.title}}</a>
            </div>
        </section>
    {% endfor %}
{% endblock %}
