{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="blog-view-section container">
        <div class="container">
            <h1 class="blog-title">{{blog.title}}</h1>
            <div class="blog-spacer"></div>
            <p class="blog-body">{{blog.body}}</p>
        </div>

        {% if blog.user_name == user %}
        <div class="btn-container blog-buttons container">
            <a href="{% url 'blog-edit' blog_pk=blog.pk %}"><button type="submit" class="blog-edit btn bg-dark text-light">Edit</button></a>
            <a href="{% url 'blog-delete' blog_pk=blog.pk %}"><button type="submit" class="blog-delete btn bg-dark text-light">Delete</button></a>
        </div>
        {% endif %}
    </section>
{% endblock %}