{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Blog Main Page</h1>
    <section class="container row grid">
        <div class="card row grid col-md-4">
            <h4 class="card-title">Blog Title</h4>
        </div>
        <div class="card row grid col-md-4">
            <h4 class="card-title">Blog Title</h4>
        </div>
        <div class="card row grid col-md-4">
            <h4 class="card-title">Blog Title</h4>
        </div>
        <div class="card row grid col-md-4">
            <h4 class="card-title">Blog Title</h4>
        </div>
        <div class="card row grid col-md-4">
            <h4 class="card-title">Blog Title</h4>
        </div>
        <div class="card row grid col-md-4">
            <h4 class="card-title">Blog Title</h4>
        </div>
        <div class="card row grid col-md-4">
            <h4 class="card-title">Blog Title</h4>
        </div>
        <div class="card row grid col-md-4">
            <h4 class="card-title">Blog Title</h4>
        </div>
        <div class="card row grid col-md-4">
            <h4 class="card-title">Blog Title</h4>
        </div>
    </section>
{% endblock %}