{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="container quote-container blog-quote-container">"In a field of roses, she is a wildflower" -unknown</h1>
    <h1 class="blog-header header-container">Blog Main Page</h1>
    <div class="blog-spacer"></div>
    {% for blog in blogs %}
    <section class="container row grid">
        <div class="card blog-card row grid col-md-4">
            <a href="{% url 'blog-view' blog_pk=blog.pk %}">{{blog.title}}</a>
        </div>
    </section>
    {% endfor %}
{% endblock %}