{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if blog %}
        {% if blog.creator == user %}
            <section class="form-section blog-create-form">
                <h1>{{header}}</h1>
                <form method="POST" class="blog-create-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </section>
        {% else %}
            <h3>Error: You can only edit blog posts that you have written.</h3>
        {% endif %}
    {% else %}
        <section class="form-section blog-create-form">
            <h1>{{header}}</h1>
            <form method="POST" class="event-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </section>
    {% endif %}
{% endblock %}