{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="container">
    <h3>“There are as many ways of loving as there are people, and that wildflower variety is the great beauty of this dimension of existence.”
            ― Rumi</h3>
</header>
    <div class="main-image">
        <img src="{% static 'images/main.jpg' %}" alt="Poppy Flower" width="470px" height="300px"> 
    </div>
    <div class="mission-statement container col-md-6 float-right">
        <h1>Welcome to Wildflower</h1>
        <h3>Where all you are expected to be is you</h3>
        <p></p>
        <p></p>
        <p>Here at Wildflower we believe that everyone is worthy of receiving love, understanding and human connection.  Please make use of our resource pages to find what you're looking for and to share with your friends and family.  Read other's stories in Blogs, share your own story, connect with others who understand where you are in your journey.  Know that you are never alone and that your exceptional uniqueness is a thing of beauty.</p>
    </div>
    <div class="container card row col-md-4 quote-container1">
        <p>“Even the tiniest of flowers can have the toughest roots.”
                ― Shannon M Mullen, See What Flowers</p>
    </div>
    <div class="container card row col-md-4 quote-container2">
        <p>“Wildflowers aren't meant to be cut & tamed. They're meant to be loved & admired.”
                ― Anthony T. Hincks</p>
    </div>
    <div class="container card row col-md-4 quote-container3">
        <p>“There is poetry among the wildflowers'.”
                ― Rachel Irene Stevenson</p>
    </div>

{% endblock %}