{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="login-container container">
    <h1 class="login-header">Login</h1>
    
    {% if error %}
        <p style="background-color:firebrick;">{{error}}</p>
    {% endif %}

    <section class="form-section login-form">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <p>
                <label for="username">Username</label>
                <input class="form-control" type="text" name='username' maxlength="25" minlength="2" required>
            </p>
            <p>
                <label for="password">Password</label>
                <input class="form-control" type="password" name='password' maxlength="25" minlength="4" required>
            </p>
            <div class="auth-btn">
                <button class="btn login-btn bg-dark text-light" type="submit">Login</button>
            </div>
        </form>
    </section>
</div>


{% endblock%}
