{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="container quote-container">"She is like a wildflower, beautiful, fierce and free." -unknown</h1>
    <h1 class="parent-header header-container">Parent and Teacher Resources</h1>
    <div class="parent-spacer"></div>
    <section class="container row grid">
        <div class="card parent-card row grid col-md-4">
            <a href="https://www.glaad.org/resourcelist">GLAAD Resource List</a>
        </div>
        <div class="card parent-card row grid col-md-4">
            <a href="https://www.glsen.org/">GLSEN Educator Support</a>
        </div>
        <div class="card parent-card row grid col-md-4">
            <a href="https://www.accreditedschoolsonline.org/resources/lgbtq-student-support/">Accredited Schools Online Educator Support</a>
        </div>
        <div class="card parent-card row grid col-md-4">
            <a href="https://pointfoundation.org/">Point Foundation</a>
        </div>
        <div class="card parent-card row grid col-md-4">
            <a href="http://safeschoolscoalition.org/">Safe Schools Coalition</a>
        </div>
        <div class="card parent-card row grid col-md-4">
            <a href="https://www.thetrevorproject.org/">The Trevor Project</a>
        </div>
        <div class="card parent-card row grid col-md-4">
            <a href="https://itgetsbetter.org/">It Gets Better Project</a>
        </div>
        <div class="card parent-card row grid col-md-4">
            <a href="https://www.cdc.gov/lgbthealth/youth-resources.htm">CDC LGBTQ Youth Resources</a>
        </div>
    </section>
{% endblock %}